.bundle/
.idea/
_site/
bin/
coverage/
images/
node_modules/
src/
test/
vendor/

*.tgz
*.zip
.coveralls.yml
.npmignore
.travis.yml
.jshintrc
Gemfile.lock
bower.json
gulpfile.js
jquery.js
jquery.min.js
karma.conf.js
